<section class="reset-pass">
  <div class="container">


    @if (Step() === 1) {

    <div class="reset-pass-info">
      <div class="col-12">
        <div class="reset-pass-head">
          <h3>Reset Your Password</h3>
          <p>Enter your email and we'll send you a link to reset your password.</p>
        </div>
      </div>

      <form class="form" [formGroup]="forgetPassForm" (ngSubmit)="forgetSubmit()">



        <div class="form-info">
          <label for="email">Email:</label>
          <input type="email" id="email" class="form-control" formControlName="email" placeholder="enter email here .."
            [ngClass]="{
            'is-valid' : !forgetPassForm.get('email')?.errors && (forgetPassForm.get('email')?.touched ||forgetPassForm.get('email')?.dirty) ,
            'is-invalid' : forgetPassForm.get('email')?.errors && (forgetPassForm.get('email')?.touched ||forgetPassForm.get('email')?.dirty)
           }">

          @if (forgetPassForm.get("email")?.errors && forgetPassForm.get("email")?.touched) {
          <div class="alert alert-danger">
            @if (forgetPassForm.get("email")?.getError("required")) {
            <p>Email is required</p>
            }

            @else if (forgetPassForm.get("email")?.getError("email")) {
            <p>Please enter a valid email</p>
            }

            @else if (forgetPassForm.get("email")?.getError("pattern")) {
            <p>Email must be a &#64;gmail.com address</p>
            }
          </div>
          }
        </div>

        <button class="btn " type="submit">Send</button>
      </form>








    </div>
    }



    @else if (Step() === 2) {





    <div class="reset-pass-info">
      <div class="col-12">
        <div class="reset-pass-head">
          <h3>Verification</h3>
          <p>Verify your code..</p>
        </div>
      </div>

      <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">



        <div class="form-info">
          <label for="email">Email:</label>
          <input type="email" id="email" class="form-control" formControlName="email" placeholder="enter email here .."
            [ngClass]="{
            'is-valid' : !resetPasswordForm.get('email')?.errors && (resetPasswordForm.get('email')?.touched ||resetPasswordForm.get('email')?.dirty) ,
            'is-invalid' : resetPasswordForm.get('email')?.errors && (resetPasswordForm.get('email')?.touched ||resetPasswordForm.get('email')?.dirty)
          }">


          @if (resetPasswordForm.get("email")?.errors && resetPasswordForm.get("email")?.touched) {
          <div class="alert alert-danger">
            @if (resetPasswordForm.get("email")?.getError("required")) {
            <p>Email is required</p>
            }


            @else if (resetPasswordForm.get("email")?.getError("email")) {
              <p>Please enter a valid email</p>
            }


            @else if (resetPasswordForm.get("email")?.getError("pattern")) {
              <p>Email must be a &#64;gmail.com address</p>
            }
          </div>
          }
        </div>




        <div class="form-info">
          <label for="code">Verification Code :</label>
          <input type="text" id="code" class="form-control" formControlName="code" placeholder="enter code here .." [ngClass]="{
            'is-valid' : !resetPasswordForm.get('code')?.errors && (resetPasswordForm.get('code')?.touched ||resetPasswordForm.get('code')?.dirty) ,
            'is-invalid' : resetPasswordForm.get('code')?.errors && (resetPasswordForm.get('code')?.touched ||resetPasswordForm.get('code')?.dirty)
          }">

          @if (resetPasswordForm.get("code")?.errors && resetPasswordForm.get("code")?.touched) {
            <div class="alert alert-danger">


              @if (resetPasswordForm.get("code")?.getError("required")) {
                <p>Please enter the verification code.</p>
              }

              @else if (resetPasswordForm.get("code")?.getError("pattern")) {
                <p>Code must be exactly 6 digits.</p>

              }
            </div>
          }
        </div>




        <div class="form-info">
          <label for="password">newPassword:</label>
          <input type="password" id="password" class="form-control" formControlName="newPassword"
            placeholder="enter newPassword here .."  [ngClass]="{
              'is-valid' : !resetPasswordForm.get('newPassword')?.errors && (resetPasswordForm.get('newPassword')?.touched ||resetPasswordForm.get('newPassword')?.dirty),
              'is-invalid' : resetPasswordForm.get('newPassword')?.errors && (resetPasswordForm.get('newPassword')?.touched ||resetPasswordForm.get('newPassword')?.dirty)
            }">

            @if (resetPasswordForm.get("newPassword")?.errors && resetPasswordForm.get("newPassword")?.touched) {
              <div class="alert alert-danger">

                @if (resetPasswordForm.get("newPassword")?.getError("required")) {
                  <p>Please enter the new password.</p>
                }

                @else if (resetPasswordForm.get("newPassword")?.getError("pattern")) {
                  <p>Password must contain only digits and be at least 6 characters long.</p>
                }
              </div>
            }
        </div>

        <button class="btn " type="submit">Verify Code</button>
      </form>








    </div>


    }
  </div>
</section>
