.edit-product {
  width: 100%;
  height: auto;
}

.edit-product .edit-product-head h5 {
  padding-top: 70px;
  color: rebeccapurple;
  padding-left: 35px;
  text-decoration: underline;
  font-size: 21px;
}

form {
  width: 50%;
  margin: 20px auto;
  /* padding: 20px; */
  background-color: rgba(138, 51, 253, 0.1);
  border-radius: 5px;
  border: 1px solid rgba(138, 51, 253, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-info {
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  height: auto;
}

.form-info label {
  font-size: 18px;
  margin-bottom: 8px;
  padding-left: 12px;
  padding-top: 12px;
  color: rebeccapurple;
  cursor: pointer;
}

.edit-product form .form-info .form-control {
  width: 90%;
  margin-left: 12px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: rebeccapurple;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 40px;
}

.edit-product form .alert {
  width: 90%;
  height: auto;
  margin: 0px;
  margin-left: 12px;
  margin-top: 1px;
  padding: 0px;
}

.edit-product form .alert p {
  padding-left: 10px;
  padding-top: 8px;
  font-size: 16px;
}

@media (max-width: 767px) {
  form {
    width: 100%;
    margin: 20px auto;
    /* padding: 20px; */
    background-color: rgba(138, 51, 253, 0.1);
    border-radius: 5px;
    border: 1px solid rgba(138, 51, 253, 0.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }


  .form .form-control {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  form {
    width: 100%;
    margin: 20px auto;
    /* padding: 20px; */
    background-color: rgba(138, 51, 253, 0.1);
    border-radius: 5px;
    border: 1px solid rgba(138, 51, 253, 0.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}
