<footer class="end-content">
  <div class="container">


    <div class="col-12">
      <div class="end-content-info-list">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-md-3">
            <div class="end-content-list">
              <h6>Need Help</h6>
              <ul >
                <li><a >Contact us </a></li>
                <li><a >track order</a></li>
                <li><a >Returns & Refunds</a></li>
                <li><a >FAQ's</a></li>
                <li><a >Career</a></li>
              </ul>
            </div>
          </div>


          <div class="col-lg-3 col-sm-6 col-md-3">
            <div class="end-content-list">
              <h6>Company</h6>
              <ul>
                <li><a >About Us</a></li>
                <li><a >euphoria Blog</a></li>
                <li><a >euphoriastan</a></li>
                <li><a >Collaboration</a></li>
                <li><a >Media</a></li>
              </ul>
            </div>
          </div>



          <div class="col-lg-3 col-sm-6 col-md-3">
            <div class="end-content-list">
              <h6>More Info</h6>
              <ul>
                <li><a >Term and Conditions</a></li>
                <li><a >Privacy Policy</a></li>
                <li><a >Shipping Policy</a></li>
                <li><a >Sitemap</a></li>

              </ul>
            </div>
          </div>



          <div class="col-lg-3 col-sm-6 col-md-3">
            <div class="end-content-list">
              <h6>Location</h6>
              <ul>
                <li><a >supporteuphoria.in</a></li>
                <li><a >Eklingpura Chouraha, Ahmedabad Main Road</a></li>
                <li><a >(NH 8- Near Mahadev Hotel) Udaipur, India- 313002</a></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-12">
      <div class="end-content-info-social-link">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-md-6">
            <div class="social-link">
              <a > <i class="fa-brands fa-square-facebook"></i></a>
              <a > <i class="fa-brands fa-square-x-twitter"></i></a>
              <a ><i class="fa-brands fa-instagram"></i> </a>
              <a > <i class="fa-brands fa-square-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-6 col-sm-12 col-md-6">
            <div class="down-load-head">
              <h6 class="text-white"> Download The App </h6>
            </div>
            <div class="download-app-info d-flex">
              <img src="./assets/img/get-apple-store.png" class="img-fluid" alt="img for download app ">
              <img src="./assets/img/get-google-play.png" class="img-fluid" alt="img for download app ">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
