<!-- <p-scrollTop
  target="window"
  behavior="smooth"
  [threshold]="100"
  styleClass="custom-scrolltop">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="20" height="20">
    <path d="M12 2C8 2 4.5 4 2 7c0 0 1 4 5 6 0 0 0 5 5 9 5-4 5-9 5-9 4-2 5-6 5-6-2.5-3-6-5-10-5zm-1 8h2v2h-2v-2zm0 4h2v2h-2v-2z"/>
  </svg>
</p-scrollTop> -->






@if (isVisible) {



<button class="scroll-top-btn" (click)="scrollToTop()" aria-label="Scroll to top">
  <i class="pi pi-send rocket-icon"></i>
</button>


}
